BasedOnStyle: LLVM

# Line length
ColumnLimit: 120

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

InsertBraces: true
IndentCaseLabels: true
