__pycache__/
kernel_module/kernel_module*
kernel_module/.*
!kernel_module/kernel_module.c
Module.symvers
modules.order

admin_licenta/application
admin_licenta/NodeEditor.json

*.db
*.db-shm
*.db-wal
.venv
