BasedOnStyle: LLVM

# Line length
ColumnLimit: 120

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never

# # Braces
# BreakBeforeBraces: Attach
#
# # Function calls / definitions
# AllowShortFunctionsOnASingleLine: None
# AllowShortIfStatementsOnASingleLine: Never
# AllowShortLoopsOnASingleLine: false
#
# # Breaking rules
# BreakConstructorInitializers: BeforeComma
# BinPackArguments: false
# BinPackParameters: false
#
# # Alignment
# AlignAfterOpenBracket: Align
# AlignOperands: true
#
# # Spaces
# SpaceBeforeParens: ControlStatements
# SpacesInAngles: false
#
# # Comments
# ReflowComments: true
